/* Author: Eloy Barrionuevo Jiménez */

:root {
    --warmpink: #FF4D7A;
    --greenpeas: #7DC45D;
    --azure: #00ABFF;
    --burningorange: #FD692E;
    --cyanpastel: #8CDEDC;
    --skyblue: #00C4FF;
    --bluebg: #33586A;
}

body {
    background-color: var(--bluebg) !important;
    color: white !important;
}

.bg-warmpink {
    background-color: var(--warmpink);
}

.bg-azure {
    background-color: var(--azure);
}

.bg-skyblue {
    background-color: var(--skyblue);
}